
header{ 
    display: flex;
    background-image: linear-gradient(to right, #F59E0B, #FDE047);
    height: 90px;
    border-radius: 6px;
    font-family: Inter, sans-serif;
}

.heading{
    font-weight: bold;
    margin-left: 540px;
}


#output{
    border: 1px solid black;
    height: 10vh;
    width: 80%;
    margin: 1rem;
    padding: 1rem;
}