body{
    font-family: Inter, sans-serif;
    margin: 0;
}

header{ 
    display: flex;
    background-image: linear-gradient(to right, #F59E0B, #FDE047);
    height: 90px;
    width: 100%;
}

.heading{
    font-weight: bold;
    margin-left: 540px;
}

main{
    margin: auto;
    width: 70%;
}

#txt-input{
    border: 1px solid black;
    height: 10vh;
    width: 80%;
    margin: 1rem;
    padding: 1rem;  
}

button{
    background-color: #FDE047;
    display: grid;
    border: none;
    margin-top: 1rem;
    margin-left: 14px;      
    padding: 1rem 2rem;
    font-size: large;
    font-family: "Karla", sans-serif;
}

#output{
    border: 1px solid black;
    height: 10vh;
    width: 80%;
    margin: 1rem;
    padding: 1rem;
}

footer{
    font-size: large;
    background-image: linear-gradient(to left, #F59E0B, #FDE047);
    height: 110px;
    margin-top: 30px;
    padding: 1rem;
    align-items: center;
}

footer > p{
    font-weight: bold;
    text-align: center;
    margin-top: 35px;
}
